<div class="container">
    <swiper-container loop="true" navigation="true" slides-per-view="4" speed="500" pagination="true">
        <!-- <swiper-slide lazy="true">
            <app-card loading="lazy"></app-card>
        </swiper-slide> -->
        <swiper-slide>
            <app-card></app-card>
        </swiper-slide>
        <swiper-slide>
            <app-card></app-card>
        </swiper-slide>
        <swiper-slide>
            <app-card></app-card>
        </swiper-slide>
        <swiper-slide>
            <app-card></app-card>
        </swiper-slide>
        <swiper-slide>
            <app-card></app-card>
        </swiper-slide>
    </swiper-container>
</div>

