<div class="container">
    <a href="">
        <div class="card">
            <div class="card-img">
                <img src="assets/blackcircle.svg.svg" alt="" width="200px" height="200px">
            </div>
            <div class="card-title">
                <h1>This is the event title</h1>
            </div>
            <div class="card-category">
                <p><span class="tag">#tecno</span> <span class="tag">#retro</span></p>
            </div>
            <div class="card-bio">
                <p>This is the event bio where you can actually write something more about it.</p>
            </div>
        </div>
    </a>
</div>
