<div class="container">
    <footer class="footer">
        <div class="row">
            <div class="title">
                <h3>About this page</h3>
            </div>
            <div class="body-text">
                <p>This is a place where you can actually find what's going on around you. 
                    Organise and have fun!</p>
            </div>
        </div>
        <div class="row">
            
        </div>
        <div class="row">
            <div class="title">
                <h3>Contact Us:</h3>
            </div>
            <div class="body-text">

            </div>
        </div>
    </footer>
    <div class="credits">
        <p>All credits to &copy; Anita Cardillo</p>
    </div>
</div>