// .header {
//     background-color: rgb(255, 170, 244);
//     margin: -8px -8px 0 -8px;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     align-items: center;
// }

// .logo {
//     display: inline;
//     a {
//         display: flex;
//         flex: 20%;
//         text-decoration: none;
//         img {
//         margin: 17px 7px 0px 16px;
//         }
//         h1 {
//             font-size: 30px;
//             font-weight: 100;
//             font-family: Arial, Helvetica, sans-serif;
//             color: #171717be;
//         }
//     }
// }

// .navbar {
//     button {
//         margin-inline-end: 30px;
//         background-color: transparent;
//         border-style: none;
//         img {
//             transition: 0.2s;
//             cursor: pointer;
//         }
//         input{
//             outline: none;
//             cursor: text;
//             border-style: none;
//         }
//     }
//     button:hover {
//         img {
//             width: 35px;
//         }
//     }
// }

// .dropdown {
//     display: inline;
//     #pic-icon {
//         border-radius: 30px;
//         border: 2px solid rgba(255, 71, 215, 0.507);
//         margin-inline-end: 30px;
//         transition: 0.2s;
//         cursor: pointer;
//     }
//     #pic-icon:hover {
//         border: 2px solid rgb(63, 63, 63);
//     }

// }

.container {
    margin: -8px -8px 0 -8px;

    .header {
        display: flex;
        background-color: rgb(255, 170, 244);

        .row {
            flex: 25%;
        }

        .routers {
            display: flex;

            .logo {
                flex: 20%;

                a {
                    text-decoration: none;

                    #logo-img {
                        margin-inline-end: 0px;
                        margin-inline-start: 20px;
                        margin-block-start: 10px;
                        margin-block-end: 10px;
                    }
                }
            }

            .tab-pages {
                flex: 80%;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 15px;
                margin: 20px 0 0 0;

                ul {
                    display: flex;
                    li {
                        list-style: none;
                        color: rgb(73, 73, 73);
                        margin: 0 10px 0 10px;
                        transition: 0.2s;
                    }

                    li:hover {
                        border-bottom: 1px solid rgb(88, 88, 88);
                    }
                }
            }
        }

        .navbar {
            text-align: end;
            .button-nav {
                margin-inline-end: 0px;
                margin-inline-start: 0px;
                margin-block-start: 15px;
                margin-block-end: 15px;
                border: none;
                background-color: transparent;
            }

            button:hover {
                zoom: 1.05;
            }
            .input-nav {
                margin-inline-end: 0px;
                margin-inline-start: 0px;
                margin-block-start: 15px;
                margin-block-end: 15px;
            }
        }

        .dropdown {
            text-align: end;
            flex: 1%;


            #pic-icon {
                border-radius: 30px;
                width: 55px;
                height: 50px;
                margin-inline-end: 20px;
                margin-inline-start: 20px;
                margin-block-start: 15px;
                margin-block-end: 15px;
                border: 1px solid rgb(255, 238, 255);
                transition: 0.2s;
            }

            #pic-icon:hover {
                border: 1px solid rgb(61, 61, 61);
                box-shadow: 0px 2px 5px 0px #6f6f6f;
            }
        }
    }
}