<div class="container">
    <div class="header">
        <div class="logo">
            <a routerLink="/home">
                <img src="./assets/blackcircle.svg.svg" alt="logo" width="40px" height="40px" id="logo-img">
                <h1>Eventino</h1>
            </a>
        </div>
        <div class="navbar">
            <button>
                <img src="./assets/lente-ingrandimento.svg" alt="navbar" width="30px" height="40px" id="nav-icon">
            </button>
            <div class="dropdown">
                <img src="./assets/fotoProva.png" alt="img" width="40px" height="40px" id="pic-icon">
            </div>
        </div>
    </div>
</div>