<div class="container">
    <div class="header">
        <div class="routers row">
            <div class="logo">
                <a routerLink="/home">
                    <img src="./assets/logo.svg" alt="logo" width="60px" height="60px" id="logo-img">
                </a>
            </div>
            <div class="tab-pages">
                <a>
                    <ul>
                        <li routerLink="/createEvent">Create Event</li>
                        <li routerLink="/home">See All Events</li>
                    </ul>
                </a>
            </div>
        </div>
        <div class="row">
        </div>
        <div class="navbar row">
            <button class="button-nav">
                @if (navbarIsNotVisible) {
                <img src="./assets/lente-ingrandimento.svg" alt="navbar" width="30px" height="40px" id="nav-icon"
                    (click)="showNavbar()">
                } @else {
                <input type="text" (focusout)="showNavbar()" class="input-nav">
                }
            </button>
        </div>
        <div class="dropdown row">
            <img src="./assets/fotoProva.png" alt="img" width="40px" height="40px" id="pic-icon">
        </div>
    </div>
</div>