.header {
    background-color: rgb(255, 170, 244);
    margin: -8px -8px 0 -8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: inline;
    a {
        display: flex;
        flex: 20%;
        text-decoration: none;
        img {
        margin: 17px 7px 0px 16px;
        }
        h1 {
            font-size: 30px;
            font-weight: 100;
            font-family: Arial, Helvetica, sans-serif;
            color: #171717be;
        }
    }
}

.navbar {
    button {
        margin-inline-end: 30px;
        background-color: transparent;
        border-style: none;
        img {
            transition: 0.2s;
            cursor: pointer;
        }
        input{
            outline: none;
            cursor: text;
            border-style: none;
        }
    }
    button:hover {
        img {
            width: 35px;
        }
    }
}

.dropdown {
    display: inline;
    #pic-icon {
        border-radius: 30px;
        border: 2px solid rgba(255, 71, 215, 0.507);
        margin-inline-end: 30px;
        transition: 0.2s;
        cursor: pointer;
    }
    #pic-icon:hover {
        border: 2px solid rgb(63, 63, 63);
    }

}





