<div class="container">
    <form id="createEventForm" name="createEventForm" #addEventForm="ngForm" (ngSubmit)="sendForm(addEventForm, event)">
        <div class="inputs">
            <input type="text" [(ngModel)]="event.eventName" placeholder="Give this event a name" name="event.eventName" required maxlength="20"
            [ngClass]="{'errorBorder': !event.eventName}">
            <p class="errorMsg">
                @if (!event.eventName) {
                    Please give your event a name!
                }
            </p>
            <input type="text" [(ngModel)]="event.eventBio" placeholder="Something about this event?" name="event.eventBio">
            <input type="date" [(ngModel)]="event.eventDate" name="event.eventDate" required
            [ngClass]="{'errorBorder': !event.eventDate}">
            <p class="errorMsg">
                @if (!event.eventDate) {
                    Please give your event a date!
                }
            </p>
            <input type="number" [(ngModel)]="event.eventPrice" placeholder="Price?" name="event.eventPrice" required
            [ngClass]="{'errorBorder': !event.eventPrice}">
            <p class="errorMsg">
                @if (!event.eventPrice) {
                    Please give your event a price!
                }
            </p>
            <input type="file" [(ngModel)]="event.eventPic" placeholder="Give to your event an iconic pic" alt="eventPic" name="event.eventPic" accept="image">
            <div class="checkbox">
                <label for="eventOrg">
                    <p>Check if you want to display the organiser: </p>
                </label>
                <input type="checkbox" [(ngModel)]="event.eventOrg" placeholder="Do you want to display your name?" name="event.eventOrg" id="eventOrg" required >
                <img src="assets/expl.svg" alt="explImage" title="
                Eventino is a free place where you can actually create any event you want
and you don't have to display who is the organiser. 
Check if you want to not dispaly in any place that you are going to organise it!
                                        We value your privacy :)">
            </div>
        </div>
        <div class="buttons">
            <input type="submit">
            <input type="button" id="goBackButton" value="Annulla" routerLink="/home">
        </div>
    </form>
</div>